HELP.md
.gradle
build/
users/
tokens/
src/main/resources/*cred*
src/main/resources/*svc*
src/main/resources/password.properties
users/
groups/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
